.header{
    background-color: $hoofdkleur;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-bottom: 4px solid lighten($color: $hoofdkleur, $amount: 25);

    &__kop{
        font-weight: 100;
    }
    &__omschrijving{
        padding: 1em;
    }
}